body {
    text-align: center;
}
.btn{
    height: 200px;
    width:200px;
    border-radius:20%;
    border:10px solid black;
    margin: 2.5rem;

}
.container{
    display:flex;
    justify-content: center;
}
.yellow{
background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
    
}
.red{
    background-color: #d95980;

}
.green{
    background-color: #63aac0;

}
.flashwhite{
    background-color: white;
}
.flashgreen{
    background-color: greenyellow;
}
